<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Gen</title>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #gen-map {
            width: 100vw;
            height: 100vh;
            text-align: center;
            font-size: xxx-large;
        }
    </style>

</head>
<body>
    <div id="gen-map">
        <h1>Generated Map</h1>
        <pre>{{ . }}</pre>
    </div>
</body>
</html>